{
  "presets": [
    [
      "@babel/preset-es2017"
    ],
    [
      "@babel/preset-react"
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/plugin-proposal-object-rest-spread"],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "main": "./src/main",
          "renderer": "./src/renderer"
        }
      }
    ]
  ]
}

