.item {
  display: block;
  float: left;
  list-style-type: none;
  height: 340px;
  width: 340px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
    margin-bottom: 30px;
    margin-right: 12px;
}

.card {
    height: 100%;
    display: block;
    margin: 25% 0;
}

.word {
  font-family: Chig;
  font-size: 52px;
  text-align: center;
  vertical-align: middle;
}

.emptyRuby {
  margin-top: 23px;
}

.mean {
  padding-top: 45px;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  vertical-align: middle;
}
