.body {
  margin-top: 32px;
  max-height: 380px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-scrolling: touch;
  align-items: center;
  & > * {
    flex: 0 0 auto;
  }
}

.root {
  padding: 5%;
}

.scrollThumb {
  background: var(--blueGray70);
}

.section {
  display: inline-block;
  float: left;
  height: 30px;
  width: 100%;
}

.input {
  vertical-align: baseline;
  line-height: 6.2em;
  height: 16px;
  margin: 2px;
}