.body {
  margin-top: 32px;
  max-height: 380px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-scrolling: touch;
  align-items: center;
  & > * {
    flex: 0 0 auto;
  }
}

.scrollThumb {
  background: var(--blueGray70);
}
